
    body{
      background-color:rgb(25,25,25);
      color:white;
      font-size:18px;
      font-family:Arial;

    }
    .title{
      font-weight:bold;
      font-size: 30px;
    }

    .move-icon{
      height:50px;
    }
  .css-button-style{
  height:120px;
  width:120px;
   border-radius:65px;
   border:3px solid rgb(231, 229, 229);
   background-color: transparent;
   margin-right:10px;
   cursor:pointer;
  }

  .css-result{
    font-size:25px;
    font-weight: bold;
    margin-top:50px;
  }

  .css-score{
    margin-top: 60px;
  }
  .reset-score-button{
    border:none;
    padding:9px 15px;
    font-size:16px;
    cursor:pointer;

  }